@using RS1_Ispit_asp.net_core.ViewModels
@model TakmicenjeIndexVM
@{
    ViewData["Title"] = "TakmicenjeIndex";
}

<h2>Prikaz takmicenja</h2>
<h3>Skola domacin: @Model.Skola</h3>
<h3>Razred: @Model.Razred</h3>
<table class="table">
    <thead>
        <tr>
            <th>Predmet</th>
            <th>Razred</th>
            <th>Datum</th>
            <th>Broj ucesnika koji nisu pristupili</th>
            <th>Najbolji ucesnik</th>
            <th>Akcija</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var x in Model.Rows)
		{
        <tr>
            <td>@x.Predmet</td>
            <td>@x.Razred</td>
            <td>@x.Datum</td>
            <td>@x.BrojUcesnikaNisuPristupili</td>
            <td>@x.NajboljaSkola | @x.NajboljeOdjeljenje | @x.NajboljiUcesnik</td>
            <td>
                <a asp-controller="Takmicenje" asp-action="Rezultati" asp-route-TakmicenjeID="@x.TakmicenjeID"
                   class="btn btn-primary">Rezultati</a>
            </td>
        </tr>
		}
        </tbody>
    </table>
<a asp-controller="Takmicenje" asp-action="Add" asp-route-SkolaID="@Model.SkolaID"
   class="btn btn-success">Dodaj</a>


