@using RS1_Ispit_asp.net_core.ViewModels
@model MaturskiIspitStavkeIndexVM
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>Ucenik</th>
            <th>Prosjek ocjena</th>
            <th>Pristup ispitu</th>
            <th>Rezultat maturskog ispita (max 100)</th>
            <th>Akcija</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var x in Model.Rows)
		{
        <tr>
            <td>@x.Ucenik</td>
            <td>@x.ProsjekOcjena</td>
            <td>
            <a asp-controller="MaturskiIspitStavke" asp-action="PristupIspitu" asp-route-MaturskiIspitStavkeID="@x.MaturskiIspitStavkeID" ajax-poziv="da" ajax-rezultat="ajaxDiv">@x.PristupIspitu</a>
                </td>
            <td>@x.Rezultat</td>
            <th>
                <a asp-controller="MaturskiIspitStavke" asp-action="Edit"  asp-route-MaturskiIspitStavkeID="@x.MaturskiIspitStavkeID" ajax-poziv="da" ajax-rezultat="ajaxDiv" class="btn btn-primary">Uredi</a>
            </th>
        </tr>
		}
        </tbody>
   </table>
