@using RS1_Ispit_asp.net_core.ViewModels
@model PopravniIspitAddVM
@{
    ViewData["Title"] = "Add";
}

<h2>Dodavanje popravnog ispita</h2>

<form class="form-group" asp-controller="PopravniIspit" asp-action="Save" method="post">
    <div class="form-group">
        <input asp-for="@Model.PopravniIspitID" hidden/>
        <input asp-for="@Model.SkolaID" hidden/>
        <input asp-for="@Model.SkolskaGodinaID" hidden/>
        <input asp-for="@Model.PredmetID" hidden/>
        <label>Član komisije</label>
        <select asp-for="@Model.Nastavnik1ID" asp-items="@Model.Nastavnik1" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Član komisije</label>
        <select asp-for="@Model.Nastavnik2ID" asp-items="@Model.Nastavnik2" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Član komisije</label>
        <select asp-for="@Model.Nastavnik3ID" asp-items="@Model.Nastavnik3" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Datum</label>
        <input type="text" asp-for="@Model.Datum" class="form-control" />
    </div>
    <div class="form-group">
        <label>Skolska godina</label>
        <input asp-for="@Model.SkolskaGodina" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Skola</label>
        <input asp-for="@Model.Skola" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Predmet</label>
        <input asp-for="@Model.Predmet" class="form-control" readonly />
    </div>
    <input type="submit" value="Dodaj" class="btn btn-success" />
</form>


