@using RS1_Ispit_asp.net_core.ViewModels
@model PopravniIspitStavkeIndexVM
@{
    ViewData["Title"] = "PopravniIspitStavkeIndex";
}

    <table class="table" ajax-poziv="da" ajax-rezultat="ajaxDiv">
        <thead>
            <tr>
                <th>Ucenik</th>
                <th>Odjeljenje</th>
                <th>Broj u dnevniku</th>
                <th>Pristup ispitu</th>
                <th>Rezultat</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Rows)
            {
            <tr>
                <td>@x.Ucenik</td>
                <td>@x.Odjeljenje</td>
                <td>@x.BrojUDnevniku</td>
                <td>
                    <a asp-controller="PopravniIspit" asp-action="Pristup"
                       asp-route-PopravniIspitStavkeID="@x.PopravniIspitStavkeID"
                       ajax-poziv="da" ajax-rezultat="ajaxDiv">@x.PristupIspitu</a>
                </td>
                <td>
                    <input type="text" value="@x.Bodovi" data-recordid="@x.PopravniIspitStavkeID"
                           class="ajaxOcjena" />
                </td>
                @if (x.Bodovi != null || x.Bodovi!=0)
                {
                    <td>
                        <a asp-controller="PopravniIspit" asp-action="Edit" 
                           asp-route-PopravniIspitStavkeID="@x.PopravniIspitStavkeID" 
                           ajax-poziv="da" ajax-rezultat="ajaxDiv" class="btn btn-primary">Uredi</a>
                    </td>
                }
                else
                {
                    <td>
                        
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>

<script>
    $(document).ready(function () {
		$(".ajaxOcjena").change(function () {

			var bodovi = $(this).val();
			var id = $(this).attr('data-recordid');
			var urlZaPoziv = "/PopravniIspit/SaveEdit?PopravniIspitStavkeID=" + id + "&Bodovi=" + bodovi;

             $.ajax({
            type: "POST",
            url: urlZaPoziv,
            success: function (data) {
                $(".ajaxOcjena").html(data);
            }
        });
		});
	});
</script>