@using RS1_Ispit_asp.net_core.ViewModels
@model MaturskiIspitAddVM
@{
    ViewData["Title"] = "Add";
}

<h2>Dodavanje maturskog ispita</h2>
<form asp-controller="OdrzanaNastava" asp-action="Save" method="post" class="form-group">
    <input asp-for="@Model.NastavnikID" hidden>
    <input asp-for="@Model.MatruskiIspitID" hidden>
    <div class="form-group">
        <label>Skola</label>
        <select asp-for="@Model.SkolaID" asp-items="@Model.Skola" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Nastavnik</label>
        <input type="text" asp-for="@Model.NastavnikImePrezime" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label>Skolska godina</label>
        <input type="text" asp-for="@Model.SkolskaGodina" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label>Datum</label>
        <input type="text" asp-for="@Model.Datum" class="form-control">
    </div>
    <div class="form-group">
        <label>Predmet</label>
        <select asp-for="@Model.PredmetID" asp-items="@Model.Predmet" class="form-control"></select>
    </div>
    <input type="submit" value="Dodaj" class="btn btn-success">
</form>


