@using RS1_Ispit_asp.net_core.ViewModels;
@model OdrzanaNastavaOdaberiVM
@{
    ViewData["Title"] = "Odaberi";
}

<h2 class="text-center">Prikaz maturskih ispita koje je evidentirao @Model.NastavnikImePrezime</h2>
<table class="table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Skola</th>
            <th>Predmet</th>
            <th>Ucenici koji nisu pristupili</th>
            <th>Akcija</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var x in Model.Rows)
		{
        <tr>
            <td>@x.Datum</td>
            <td>@x.Skola</td>
            <td>@x.Predmet</td>
            <td>@x.UceniciNisuPristupili</td>
            <td><a asp-controller="OdrzanaNastava" asp-action="Edit" asp-route-MaturskiIspitID="@x.MaturskiIspitID" class="btn btn-primary">Uredi</a></td>
        </tr>
		}
        </tbody>
    </table>

<a asp-controller="OdrzanaNastava" asp-action="Add" asp-route-NastavnikID="@Model.NastavnikID" class="btn btn-success">Dodaj</a>
