@using RS1_Ispit_asp.net_core.ViewModels
@model OdrzaniCasDetaljiIndexVM
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>Ucenik</th>
            <th>Ocjena</th>
            <th>Prisutan</th>
            <th>Opravdano odsutan</th>
            <th>Akcija</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var x in Model.Rows)
		{
        <tr>
            <td>@x.Ucenik</td>
            <td>@x.Ocjena</td>
            <td>
                <a asp-controller="OdrzaniCasDetalji" asp-action="PrisutanOdsutan"
                   asp-route-OdrzaniCasDetaljiID="@x.OdrzaniCasDetaljiID"
                   ajax-poziv="da" ajax-rezultat="ajaxDiv">@x.Prisutan</a>
            </td>
            <td>@x.OpravdanoOdsutan</td>
            <td>
                Akcija
            </td>
        </tr>
		}
        </tbody>
    </table>
